@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

/* Bloco dos textos (títulos) */
.titulos h3 {
  font-size: 20px;
  color:#342D23;
  font-weight: 600;
  line-height: 100%;
  margin: 0;
  width: 268px;
  height: 23px;
}

.titulos h4 {
  margin: 10px 0 0; /* topo 10px */
  font-size: 16px;
  font-weight: 500;
  color: #5D574F;
  line-height: 100%;
}

.logout-link{
  display:flex;
  align-items:center;
  gap:12px;

  font-family:'Raleway', sans-serif;
  font-size:18px;
  font-weight:500;

  color:#3b3b3b;
  text-decoration:none;

  cursor:pointer;
  transition:.3s;
}

.logout-link{
  display:flex;
  align-items:center;
  gap:12px;

  font-family:'Raleway', sans-serif;
  font-size:16px;
  font-weight:500;

  color:#C0756B;
  text-decoration:none;

  cursor:pointer;
  transition:.3s;

  width:100%;
}

.logout-link:hover{
  transform:translateX(6px);
  opacity:.8;
}

.config-card{
  margin-top:32px;
  width:450px;
  padding:30px;
  background:#fff;
  border-radius:20px;
  box-shadow:0px 6px 25px rgba(0,0,0,0.08);

  display:flex;
  justify-content:flex-start;
  align-items:flex-start;    
}

.modal {
  display: none; 
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  justify-content:center; 
  align-items:center;    
  z-index:1000;
}

.modal-content {
  width: 410px;
  height: auto;         
  background:#fff;
  border-radius:15px;
  padding: 32px;         
  box-sizing: border-box;
  text-align:left;    
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

/* Cabeçalho com ícone e título */
.modal-header {
  display:flex;
  align-items:center;
  gap:12px;
  justify-content:flex-start; 
}

.modal-header h2 {
  font-size: 24px;
  font-weight: 600;
  color:#C0756B;
  margin:0;
}

.modal-text {
  margin-top:32px;   
  font-size:16px;
  color:#5D574F;
}

/* Botões */
.modal-buttons {
  display: flex;
  justify-content: flex-start; 
  gap: 40px;                
  margin-top: 40px;       
}

/* Cancelar */
#cancel-btn {
  width: 157.5px;
  height: 40px;
  border: 2px solid #C0756B;
  background: none;
  border-radius: 5px;
  color: #C0756B;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

/* Sair */
#confirm-btn {
  width: 157.5px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #C0756B;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

/* Hover */
#cancel-btn:hover {
  background: #f5f0f0;
}

#confirm-btn:hover {
  background: #a95d54;
}

