@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f8f4ec;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

.left-side {
    flex: 0 0 58.3%;
    background-color: #FFF8ED;
    position: relative;

    background-image: url('/sistema_agendamento/icone_imagens/Login/Parte-esquerda-login.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}


.right-side {
    flex: 0 0 41.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}


.tela-login {
    width: 429px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: block;
    width: 400px;
    margin-bottom: 10px;
}


.subtitle {
    color: #b0903a;
    margin-bottom: 4px;
    font-size: 16px;
}

.descricao {
    font-size: 16px;
    color: #5D574F;
    font-weight: 500; 
    text-align: center; 
    margin: 40px 0 32px 0;
}



label {
    display: block;
    margin-bottom: 8px; 
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400; 
    color: #342D23;
}

input[type="text"],
input[type="password"] {
    width: 429px;
    height: 44px;
    padding: 10px;
    border: 1px solid #AEABA7; 
    border-radius: 12px; 
    outline: none;
    margin-bottom: 28px; 
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400; 
    color: #342D23; 
    background-color: #fff;
}


input::placeholder {
    color: #85817B;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}


.password-field {
    position: relative;
    width: 429px; 
}

.password-field input {
    width: 100%;
    height: 44px;
    padding-right: 40px; 
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #342D23;
    border: 1px solid #AEABA7;
    border-radius: 12px;
}

.password-field .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    object-fit: contain; 
}


.toggle-password {
    width: 24px;  
    height: 24px; 
    object-fit: contain;
    cursor: pointer;
}

.checkbox {
    display: flex;    
    align-items: center;   
    margin-bottom: 20px;
    cursor: pointer;
}

.checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #AEABA7;
    border-radius: 4px;
    position: relative;
    margin-right: 8px;     
    background-color: white;
    cursor: pointer;
    transition: all 0.2s;
}

.checkbox input[type="checkbox"]:checked {
    background-color: #C9A258;
    border-color: #C9A258;
}

.checkbox input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 6px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox label {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #342D23;
    cursor: pointer;
    margin: 0; 
}



button {
    width: 429px;                
    height: 49px;                
    margin-top: 48px;            
    background-color: #C9A258;  
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); 
    transition: 0.3s;
}

button:hover {
    background-color: #A18246;
}

.erro {
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    padding: 10px;
    border-radius: 8px;  
    margin-TOP: 28px;
    text-align: center;
    font-size: 14px;
}
