@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
}

.main-content {
    margin-left: 246px; 
    padding: 20px; 
}

/* Bloco dos textos (títulos) */
.titulos h3 {
  font-size: 20px;
  color:#342D23;
  font-weight: 600;
  line-height: 100%;
  margin: 0;
  width: 268px;
  height: 23px;

}

.titulos h4 {
  margin: 8px 0 0; 
  font-size: 16px;
  font-weight: 500;
  color: #5D574F;
  line-height: 100%;
  margin: 4px 0 0;
  
}

/* Botão */
.botao a {
  position: absolute;
  top: 20px;
  right: 20px;

  background-color: #D9ACA6;
  color: #fff;
  border-radius: 16px;
  padding: 12px 33px;
  font-weight: 500;
  text-decoration: none;

  width: 193px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 4px 4px #00000040;
  transition: background 0.3s ease;
}


.botao a:hover {
  background-color: #c7918a;
}



.titulo-tabela {
    width: calc(100% - 246px - 40px); 
    margin-right: 20px;
    border-collapse: separate; 
    border-spacing: 0 20px;
    height: 36px;
    gap: 10px;
    padding-top: 14px;
    padding-right: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    opacity: 1;
    text-align: left;        
    background-color: #F4ECDE; 
    color:#5D574F;               
}

.titulo-th{
  width: 1032px;
  height: 36px;
  border-radius: 6px;
  padding: 14px 12px 14px 12px;
  gap: 10px;
}

table {
  width: 1032px;
  height: 36px;
  border-collapse: separate; 
  border-spacing: 0 8px;
  font-weight: 500;
  border-radius: 6px;
  overflow: vertical; 
  background-color: #FFFFFF; 
  padding: 14px 12px;
  gap: 10px;
  box-shadow: 0px 0px 10px 0px #00000026;
  border: 16px;
}


thead th:first-child {
  border-top-left-radius: 6px;
}
thead th:last-child {
  border-top-right-radius: 6px;
}


tbody tr {
  background-color: #fdfdfd;
  border-radius: 6px;
}


th, td {
  border: none;
  padding: 10px 12px;
  text-align: left;
}

.corpo-tabela{
   
   width:1032px ;
   height:72px ;
   border-radius: 5px;
   padding: 12px;
   gap: 16px;
   background-color: #F8F8F8; 
}

tr,td{
    width: 111px;
    height: 34px;
    font-weight: 500;
    size: 14px;
    line-height: 100%;
}

/*modal */

.modal {
  display: none; 
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  justify-content:center; 
  align-items:center;    
  z-index:1000;
}

/* Caixa branca do modal */
.modal-content {
    width: 410px;
    height: 321px;
    border-radius: 20px;
    padding: 40px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}



/*titulos */
.modal-titulo {
   display: flex;
   align-items: center; 
   gap: 10px;      
   width: 100%;
   justify-content: flex-start; 
}
.modal-imagem {
   width: 22px;
   height: 20px;
}

.modal h3 {
   font-weight: 600;
   font-size: 24px;
   color: #C0756B;
   margin: 0;        
}

/* Texto */
.modal p{
   font-weight: 500;
   font-size: 16px;
   color:#342D23; 
   text-align: left;
}

/* Botões */
.modal-botoes {
    display: flex;
    flex-direction: column; 
    gap: 12px;
    width: 100%;
}

.modal-botoes button {
    width: 100%;
}

/* Confirmar */
.btn-confirmar {
  width: 330px;
  height: 40px;
  border-radius: 5px;
  background-color: #C0756B;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  backdrop-filter: blur(5.625px);
  text-align: center;

  /* CORREÇÃO */
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: normal; /* ou pode remover */
}



/* Cancelar */
.btn-cancelar {
  width: 330px;
  height: 40px;
  background-color: #FFFFFF;
  border: 1px solid #C0756B;
  color: #C0756B;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  border-radius: 5px;
  cursor: pointer;
}


