@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

/* Bloco dos textos (títulos) */
.titulos h3 {
  font-size: 20px;
  color:#342D23;
  font-weight: 600;
  line-height: 100%;
  margin: 0;
  width: 268px;
  height: 23px;
}

.titulos h4 {
  margin: 8px 0 0; 
  font-size: 16px;
  font-weight: 500;
  color: #5D574F;
  line-height: 100%;
  margin: 4px 0 0;
}

/* Botão */
.botao a {
  background-color: #D9ACA6;
  color: #fff;
  border-radius: 16px;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
  box-shadow: 0px 4px 4px 0px #00000040;
  height: 42px;
  width: 193px;
}

.botao a:hover {
  background-color: #c7918a;
}

.titulo-tabela {
    width: 1032px;
    height: 36px;
    gap: 10px;
    padding-top: 14px;
    padding-right: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    opacity: 1;
    text-align: left;        
    background-color: #F4ECDE; 
    color:#5D574F;               
}

table {
  width: 1032px;
  height: 36px;
  border-collapse: separate; 
  border-spacing: 0 8px;
  font-weight: 500;
  border-radius: 6px;
  overflow: vertical; 
  background-color: #FFFFFF; 
  padding: 14px 12px;
  gap: 10px;
  box-shadow: 0px 0px 10px 0px #00000026;
  border: 16px;
}


thead th:first-child {
  border-top-left-radius: 6px;
}
thead th:last-child {
  border-top-right-radius: 6px;
}


tbody tr {
  background-color: #fdfdfd;
  border-radius: 6px;
}


th, td {
  border: none;
  padding: 10px 12px;
  text-align: left;
}

.corpo-tabela{
   
   width:1032px ;
   height:72px ;
   border-radius: 5px;
   padding: 12px;
   gap: 16px;
   background-color: #F8F8F8;
}

tr,td{
    width: 111px;
    height: 34px;
    font-weight: 500;
    size: 14px;
    line-height: 100%;
}



