@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.titulos h3{
    width: 196px;
    height: 23px;
    font-size: 20px;
    line-height: 100%;
    color: #342D23;
    margin: 0;
}

.titulos h4{
    width: 374px;
    height: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #5D574F;
    margin: 0;
    margin-top: 5px;
}

.voltar{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 2px 10px;
}

.titulo-icone {
    width: 16px;
    height: 14px;
}

.main-content {     
    margin-right: 28px;
}

label {
  font-size: 12px;
  font-weight: 600px;
  line-height: 100%;
  letter-spacing: 0;
  color: #5D574F;
  padding: 2px 5px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 6px;  
  margin-top: 6px; 
  backdrop-filter: blur(10px);
    
}

form input[type="text"],
form input[type="number"],form input[type='time'],form select {
    width: 536px;
    height: 36px;
    padding: 10px 14px;
    border-radius: 12px;
    border: 1px solid #D9ACA6;
    backdrop-filter: blur(10px);
    box-shadow: 0px 1px 1px 0px #B8C8E039;
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    
}

#descricao {
    height: 60px;
    padding: 14px;
}
#descricao {
    padding-top: 6px; 
    padding-bottom: 14px;
    padding-top: 4px;
}

#status {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("/sistema_agendamento/icone_imagens/Seta.svg");
    background-repeat: no-repeat;
    background-position: right 14px center;
    padding-right: 40px;
}


.placeholder{
    width: 137px;
    height: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #AEABA7;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}


#status {
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    color: #AEABA7;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    width: 536px;     
    height: 36px;     
    padding: 0 14px;
}

.cadastrar input {
    width: 536px;
    height: 40px;
    padding: 12px 33px;
    color: #F4F7FB; 
    background-color:#D9ACA6; 
    border-radius: 5px;       
    border: none;   
    box-shadow: 0px 4px 4px 0px #00000040; 
    font-weight: 600px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;        
}


.cadastrar input:hover {
    border-radius: 5px;
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: #fff;
    padding: 20px;
    width: 320px;
    border-radius: 10px;
    text-align: center;
}

.modal-buttons {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}

.btn-confirmar {
    background-color: #342D23;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btn-cancelar {
    background-color: #ccc;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}


.modal {
  display: none; 
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  justify-content:center; 
  align-items:center;    
  z-index:1000;
}

.modal-content {
    width: 410px;
    height: 321px;
    border-radius: 20px;
    padding: 40px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.modal-titulo {
   display: flex;
   align-items: center; 
   gap: 10px;      
   width: 100%;
   justify-content: flex-start; 
}
.modal-imagem {
   width: 22px;
   height: 20px;
}

.modal h3 {
   font-weight: 600;
   font-size: 24px;
   color: #C0756B;
   margin: 0;        
}


.modal p{
   font-weight: 500;
   font-size: 16px;
   color:#342D23; 
   text-align: left;
}

.modal-botoes {
    display: flex;
    flex-direction: column; 
    gap: 12px;
    width: 100%;
}

.modal-botoes button {
    width: 100%;
}


.btn-confirmar {
  width: 330px;
  height: 40px;
  border-radius: 5px;
  background-color: #C0756B;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  backdrop-filter: blur(5.625px);
}

/* Cancelar */
.btn-cancelar {
  width: 330px;
  height: 40px;
  background-color: #FFFFFF;
  border: 1px solid #C0756B;
  color: #C0756B;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  border-radius: 5px;
  cursor: pointer;
}
