@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');

/* titulos*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

/* Bloco dos textos (títulos) */
.titulos h3 {
  font-size: 20px;
  color:#342D23;
  font-weight: 600;
  line-height: 100%;
  margin: 0;
  width: 268px;
  height: 23px;
}

.titulos h4 {
  margin: 10px 0 0; 
  font-size: 16px;
  font-weight: 500;
  color: #5D574F;
  line-height: 100%;
  margin: 4px 0 0;
}

/* Botão */
.botao a {
  background-color: #D9ACA6;
  color: #fff;
  border-radius: 16px;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.botao a:hover {
  background-color: #c7918a;
}


/*tabela título*/

.titulo-tabela {
    width: 100%;            /* Também ocupa toda a largura */
    padding: 14px 12px;
    background-color: #F4ECDE; 
    color: #5D574F;
    text-align: left;
}

.tabela {
    width: 100%; 
    margin-top: 32px; /* Espaço entre o h4 e a tabela */
    border-collapse: separate; 
    border-spacing: 0 8px;
    font-weight: 500;
    border-radius: 6px;
    background-color: #FFFFFF; 
    box-shadow: 0px 0px 10px 0px #00000026;
    padding: 14px 14px;
}



thead th:first-child {
  border-top-left-radius: 6px;
}
thead th:last-child {
  border-top-right-radius: 6px;
}


tbody tr {
  background-color: #fdfdfd;
  border-radius: 6px;
}


th, td {
  border: none;
  padding: 10px 12px;
  text-align: left;
}

/*campos da tabela*/

.corpo-tabela {
    width: 100%;            /* Para o tbody também ocupar a tela inteira */
    background-color: #F8F8F8;
}

tr,td{
    width: 111px;
    height: 34px;
    font-weight: 500;
    size: 14px;
    line-height: 100%;
}

/* Container principal afastado da sidebar à direita e da borda esquerda da tela */
.main-content {     
    margin-right: 28px;    /* 246px da sidebar + 20px de espaçamento */
}

/* MODAL ABAIXO */

.modal {
  display: none; 
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  justify-content:center; 
  align-items:center;    
  z-index:1000;

}

.modal-content {
  width: 410px;
  background:#fff;
  border-radius:15px;
  padding: 32px;         
  box-sizing: border-box;
  display:flex;
  flex-direction:column;
  gap: 26px;
}

.modal-header {
  display:flex;
  align-items:center;
  gap:12px;
}

.modal-header h2 {
  font-size: 24px;
  font-weight: 600;
  color:#C0756B;
  margin:0;
}

.modal-text {
  font-size:16px;
  color:#5D574F;
}

.modal-buttons {
  display: flex;
  justify-content: flex-start; 
  gap: 20px;
}

#btnCancelar {
  width: 150px;
  height: 42px;
  border: 2px solid #C0756B;
  background: none;
  border-radius: 8px;
  color: #C0756B;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  transition: .2s;
}

#btnConfirmar button {
  width: 150px;
  height: 42px;
  border-radius: 8px;
  border:none;
  background: #C0756B;
  color:#fff;
  cursor:pointer;
  font-weight:500;
  font-size:15px;
  transition:.2s;
}

/* hover */
#btnCancelar:hover {
  background: #f5f0f0;
}

#btnConfirmar button:hover {
  background: #a46259;
}

