@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');

/* titulos*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.titulos h3 {
  font-size: 20px;
  color:#342D23;
  font-weight: 600;
  line-height: 100%;
  margin: 0;
  width: 268px;
  height: 23px;
}

.titulos h4 {
    font-size: 16px;
    font-weight: 500;
    color: #5D574F;
    line-height: 100%;
    margin: 10px 0 24px;
}

.h3-com-icone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.titulo-icone {
    width: 16px;
    height: 14px;
}

.main-content {     
    margin-right: 28px;
}

/* formulário */

form input[type="text"],
form input[type="number"],
form input[type="datetime-local"],
form select {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #5D574F;
    width: 536px;
    height: 36px;
    padding: 0 14px;
    border-radius: 12px;
    border: 1px solid #D9ACA6;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form textarea {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5D574F;
    width: 536px;
    height: 60px;
    padding: 10px 14px;
    border-radius: 12px;
    border: 1px solid #D9ACA6;
    margin-bottom: 20px;
    box-sizing: border-box;
    resize: none;
}

form textarea::placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #AEABA7;
}


/* Botão */
form button[type="submit"] {
    display: block;
    width: 536px;
    height: 40px;
    background-color: #D9ACA6;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 28px;
}

form button[type="submit"]:hover {
    background-color: #E6C8C4;
}

form label {
    display: block;
    margin-bottom: 4px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #5D574F;
}

/* Placeholder */
form input::placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #AEABA7;
}

form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding-right: 28px; 
    background-image: url('data:image/svg+xml;utf8,<svg fill="%235D574F" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 14px center; 
}

form select:invalid {
    color: #AEABA7 !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}

form select option[disabled] {
    color: #AEABA7 !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}

form select:not(:focus):invalid {
    color: #AEABA7 !important;
}

input[type="datetime-local"]:not(:focus):invalid {
    color: #AEABA7 !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}

/* MODAL ABAIXO */

.modal {
  display: none; 
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  justify-content:center; 
  align-items:center;    
  z-index:1000;
}

.modal-content {
  width: 410px;
  height: auto;         
  background:#fff;
  border-radius:15px;
  padding: 32px;         
  box-sizing: border-box;
  text-align:left;    
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.modal-header {
  display:flex;
  align-items:center;
  gap:12px;
  justify-content:flex-start; 
}

.modal-header h2 {
  font-size: 24px;
  font-weight: 600;
  color:#C0756B;
  margin:0;
}

.modal-text {
  margin-top:32px;   
  font-size:16px;
  color:#5D574F;
}

.modal-buttons {
  display: flex;
  justify-content: flex-start; 
  gap: 40px;                
  margin-top: 40px;       
}

#cancel-btn {
  width: 157.5px;
  height: 40px;
  border: 2px solid #C0756B;
  background: none;
  border-radius: 5px;
  color: #C0756B;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

#confirm-btn {
  width: 157.5px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #C0756B;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

#cancel-btn:hover {
  background: #f5f0f0;
}

#confirm-btn:hover {
  background: #a95d54;
}

#btn-voltar {
    cursor: pointer;
}
